@font-face {
    font-family: 'PressStart2P';
    src: url('pressStart2.ttf') format('truetype');
}

body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
    background-color: #000;
    font-family: 'PressStart2P', sans-serif;
    color: white;
}
  
#game-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100vw;
    height: 100vh;
    background-image: url('gifs/background.gif');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

img {
    position: absolute;
    user-select: none;
}

/* Proportional settings for title and start button */
#title {
    width: 70vw;
    max-width: 500px;
    height: auto;
    position: absolute;
    top: 15vh; /* Position relative to viewport height */
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
}

#start-button {
    width: 35vw;
    height: auto;
    max-width: 250px;
    position: absolute;
    top: 54vh;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
}

@keyframes rapid-blink {
    0%, 50%, 100% {
        opacity: 1;
    }
    25%, 75% {
        opacity: 0;
    }
}

#title, #start-button {
    animation: rapid-blink 6s infinite; /* Adjust the speed by changing 0.5s */
}


/* Specific progress container styling */
.progress-container {
    position: absolute; /* Ensure the container is fixed */
    top: 5.5vh; /* Adjust position from the top */
    left: 65%; /* Center horizontally */
    transform: translateX(-50%); /* Center horizontally */
    gap: 10px; /* Space between the image and text */
    z-index: 10; /* Ensure visibility above other elements */
}


#crystal-progress {
    width: 9vh; 
    top: 5vh;
    height: auto;
    position: absolute; 
    left: 30%;
} 

/* Crystal text styling */
#crystal-text {
    font-size: 1.8rem; /* Adjust font size */
    font-weight: bold;
    color: white; /* Ensure text is visible on a dark background */
    top: 10vh;
    height: auto;
}


/* Adjust character and crystals */
.character {
    position: absolute;
    width: 15vw;
    height: 15vh;
    z-index: 5;
}

.crystal {
    width: 20vw;
    height: 10vh;
    max-width: 80px;
    max-height: 80px;
    z-index: 5;
}

/* Lightfield effect */
#lightfield {
    width: 30vw;
    height: 20vh;
    z-index: 5;
    visibility: hidden;
}

/* Button settings */
#button {
    position: absolute;
    width: 10vw;
    height: auto;
    max-width: 100px;
    bottom: 5vh;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}

#end-video{
    position: absolute;
    width: 100vw; 
    height: 100vh;
    z-index: 10;
}

/* Extra Small Devices */
@media (max-width: 599px) {
    /* Styles for mobile phones */
    #button {
      width: 20vw;  
      bottom: 20vh;
    }

    .character {
        width: 100px;
        height: 100px;
        transform: translate(-30%, -45%);  /* Move the character 20% to the left */

    }
}


@media (min-width: 992px) {
    body, html {
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30vw; /* Set the fixed width of the body */
        height: 100vh; /* Ensure it stretches to the viewport height */
        background-color: black; /* Black background for the rest of the screen */
        margin: 0 auto;
    }

    #game-area {
        position: relative;
        width: 100%; /* or desired percentage */
        height: 100%; /* or viewport height */
        overflow: hidden; /* Prevents elements from spilling outside */
    }

    /* Ensure all child elements are proportional to the body */
    #title {
        width: 50%; /* Relative to the #game-area or body */
        max-width: 500px;
    }

    #start-button {
        width: 30%; /* Relative to the #game-area or body */
        max-width: 250px;
        top: 60vh;
        left: 50%;
        transform: translateX(-50%);
    }

    #crystal-text {
        display: flex;
        width: 450px;
        font-size: 2rem;
    }

    .character {
        width: 8vw; /* Proportional to the viewport width */
        height: auto;
        transform: translate(-30%, -35%);  /* Move the character 20% to the left */

    }

    .crystal {
        position: absolute;
        width: 50vw; /* Adjust size as needed */
        height: auto;
    }

    #lightfield {
        width: 14vw;
        height: auto;
        position: absolute;
        z-index: 20;
    }

    #button {
        width: 8vw;
        height: auto;
        max-width: 100px;
    }

}
